* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace;
}

.programmer-name {
    color: #bdbdbd;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Estilos para escritorio */
@media (min-width: 768px) {
    h3 {
        padding-top: 40px;
        padding-left: 77px;
    }

    .mainContent {
        padding-top: 265px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mainContent img {
        width: 539.22px;
        height: 447.43px;
    }

    .mainContent .contentInfo {
        padding-left: 100px;
    }

    .mainContent h1 {
        font-size: 64px;
        line-height: 94.78px;
        font-weight: 700;
        letter-spacing: -0.035em;
        font-family: "Space Mono", monospace;
        width: 586px;
        height: 190px;
    }

    .mainContent .contentInfo p {
        padding-left: 1px;
        padding-top: 20px;
        color: #4F4F4F;
        font-size: 24px;
        line-height: 35.54px;
        width: 361px;
        height: 108px;
    }

    .mainContent .contentInfo button {
        margin-left: 5px;
        margin-top: 84px;
        border: none;
        outline: none;
        padding: 20px 50px;
        background-color: #333333;
    }

    .mainContent button a {
        color: #FFFFFF;
        text-decoration: none;
        text-transform: uppercase;
    }
}

/* Estilos para móvil */
@media screen and (max-width: 576px) {
    h3 {
        padding-top: 20px;
        padding-left: 24px;
    }

    .mainContent {
        margin-top: 109px;
        margin-left: 24px;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .mainContent .contentImg {
        text-align: center;
    }

    .mainContent img {
        width: 286.83px;
        height: 238px;
    }

    .mainContent .contentInfo {
        padding-top: 35px;
    }

    .mainContent h1 {
        font-size: 48px;
        line-height: 71.09px;
        font-weight: 700;
        letter-spacing: -0.035em;
        font-family: "Space Mono", monospace;
        width: 350px;
        height: 142px;
    }

    .mainContent .contentInfo p {
        padding-left: 1px;
        padding-top: 20px;
        color: #4F4F4F;
        font-size: 18px;
        line-height: -0.035em;
        width: 328px;
        height: 81px;
    }

    .mainContent .contentInfo button {
        margin-left: 5px;
        margin-top: 64px;
        border: none;
        outline: none;
        padding: 20px 50px;
        background-color: #333333;
    }

    .mainContent button a {
        color: #FFFFFF;
        text-decoration: none;
        text-transform: uppercase;
    }
}

h3 {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 24px;
    line-height: 25.18px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

footer {
    font-weight: 500;
    text-align: center;
    color: #BDBDBD;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}